body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
}
#logo {
    display: block;
    float: left;
    margin-top: 0;
    padding-top: 0;
}
#Lista {
    display: block;
    float: right;
    list-style: none;
    margin-top: 0;
}
#Lista li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
    padding-top: 20px;
}
#Lista li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#Lista li a:hover {
    color: rgb(55, 55, 55);
}
#endhdr{
    clear:both;
}
header {
    position: sticky;
    top: 0;
    width: 960px;
    margin: 0;
    background-color: aliceblue;
}
#foto img {
    width: 400px;
    background-image: none;
}
#sec1 {
    height: 600px;
    background-color: blue;
}
#sec2 {
    height: 600px;
    background-color: brown;
}
#sec3 {
    height: 600px;
    background-color: blue;
}
#sec4 {
    height: 600px;
    background-color: brown;
}
#sec5 {
    height: 600px;
    background-color: blue;
}
#sec6 {
    height: 600px;
    background-color: brown;
}
footer {
    height: 600px;
    background-color: blue;
}